// .container {
//   margin-inline: auto;
//   padding-inline: 1em;
//   max-width: 80rem;
// }

.grid-container {
  border: 5px solid yellow;
  display: grid;
  text-align: center;
  place-items: center;
  padding-inline: 1rem;
  @include tablet {
    * {
      max-width: 50ch;
    }
  }

  @include desktop {
    text-align: left;
    column-gap: 2rem;
    grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(
        1rem,
        1fr
      );
    > *:first-child {
      grid-column: 2;
      border: 1px solid red;
    }
    > *:last-child {
      grid-column: 3;
      border: 1px solid blue;
    }
  }
}

.grid-container--home {
  @include desktop {
    padding-bottom: 8rem;
    align-items: end;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
