//Colors
$color-white: hsl(0, 0%, 100%);
$color-dark: hsl(230, 35%, 7%);
$color-light: hsl(231, 77%, 90%);

//Fonts
$font-serif: "Bellefair", serif;
$font-sans-normal: "Barlow", sans-serif;
$font-sans-cond: "Barlow Condensed", sans-serif;

//Flexbox & Grid
$gap: 1rem;
