@import "./fonts";
@import "./colors";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: $color-dark;
}

h1,
h2,
h3,
h4 {
  font-family: $font-heading;
  text-transform: uppercase;
  color: $color-light;
  font-weight: 400;
}

h1 {
  font-size: 15rem;
}

h2 {
  font-size: 10rem;
}

h3 {
  font-size: 5.6rem;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-family: $font-text;
  color: $color-text;
  font-size: 2.8rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.475rem;
}

p {
  font-family: $font-text;
  color: $color-text;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.2rem;
}
